.App {
  text-align: center;
}

<<<<<<< HEAD
.Logo {
  width: 200px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(135, 130, 120);
=======
.formElement {
  display: flex;
>>>>>>> 30f3af07237475c3648d23f0b420a77e96ea4959
}
