html{
  background-color: rgb(19, 194, 136);
}


.App {
  text-align: center;
}

.Logo {
  width: 120px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(135, 130, 120);
}

.formElement {
  display: flex;
}
